In [3]:
install.packages('data.table', repos="http://cran.rstudio.com/")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)
also installing the dependency ‘chron’

The downloaded source packages are in
	‘/tmp/RtmpnMrncC/downloaded_packages’

In [5]:
library(data.table)
th3_users = data.table(read.table("../datasets/th3_experimental_user.tsv", sep="\t", header=T))
th3_survival = data.table(read.table("../datasets/th3_experimental_user_survival.tsv", sep="\t", header=T))
th3_user_survival = merge(th3_users, th3_survival, by="user_id")
th3_user_survival$experiment = factor("th3", level=c("th2", "th3"))


th2_users = data.table(read.table("../datasets/th2_experimental_user.tsv", sep="\t", header=T))
th2_survival = data.table(read.table("../datasets/th2_experimental_user_survival.tsv", sep="\t", header=T))
th2_user_survival = merge(th2_users, th2_survival, by="user_id")
th2_user_survival$experiment = factor("th2", level=c("th2", "th3"))

user_survival = rbind(th3_user_survival, th2_user_survival)
head(user_survival)
summary(user_survival)

    user_id invite_date sample_group revisions_3_to_4_weeks
1: 26673158  2015-11-02      control                      1
2: 26673435  2015-11-02      control                      0
3: 26673452  2015-11-02      invited                      0
4: 26673898  2015-11-02      control                      0
5: 26674207  2015-11-02      invited                      0
6: 26674336  2015-11-02      invited                      0
   revisions_1_to_2_months revisions_2_to_6_months experiment
1:                       0                       3        th3
2:                       0                       0        th3
3:                       1                       0        th3
4:                       2                       0        th3
5:                       0                       0        th3
6:                       0                       0        th3

    user_id             invite_date     sample_group   revisions_3_to_4_weeks
 Min.   :22890795   2014-11-17:  260   control: 6531   Min.   :  0.0
 1st Qu.:23206724   2014-12-04:  260   invited:14993   1st Qu.:  0.0
 Median :23532054   2014-10-30:  259                   Median :  0.0
 Mean   :24433684   2014-12-05:  258                   Mean   :  1.5
 3rd Qu.:26744881   2015-01-10:  257                   3rd Qu.:  0.0
 Max.   :27058409   2014-11-08:  256                   Max.   :847.0
                    (Other)   :19974
 revisions_1_to_2_months revisions_2_to_6_months experiment
 Min.   :   0.000        Min.   :    0.00        th2:14766
 1st Qu.:   0.000        1st Qu.:    0.00        th3: 6758
 Median :   0.000        Median :    0.00
 Mean   :   4.602        Mean   :    9.84
 3rd Qu.:   0.000        3rd Qu.:    0.00
 Max.   :3835.000        Max.   :22907.00

In [8]:
prop.test(
    c(sum(user_survival[sample_group=="control",]$revisions_3_to_4_weeks > 0),
      sum(user_survival[sample_group=="invited",]$revisions_3_to_4_weeks > 0)),
    c(length(user_survival[sample_group=="control",]$user_id),
      length(user_survival[sample_group=="invited",]$user_id)),
)

	2-sample test for equality of proportions with continuity correction

data:  c(sum(user_survival[sample_group == "control", ]$revisions_3_to_4_weeks >  out of c(length(user_survival[sample_group == "control", ]$user_id),     0), sum(user_survival[sample_group == "invited", ]$revisions_3_to_4_weeks >  out of     length(user_survival[sample_group == "invited", ]$user_id))    0)) out of c(length(user_survival[sample_group == "control", ]$user_id),
X-squared = 5.7457, df = 1, p-value = 0.01653
alternative hypothesis: two.sided
95 percent confidence interval:
 -0.018459951 -0.002019284
sample estimates:
    prop 1     prop 2
0.08207013 0.09230974

In [9]:
prop.test(
    c(sum(user_survival[sample_group=="control",]$revisions_1_to_2_months > 0),
      sum(user_survival[sample_group=="invited",]$revisions_1_to_2_months > 0)),
    c(length(user_survival[sample_group=="control",]$user_id),
      length(user_survival[sample_group=="invited",]$user_id)),
)

	2-sample test for equality of proportions with continuity correction

data:  c(sum(user_survival[sample_group == "control", ]$revisions_1_to_2_months >  out of c(length(user_survival[sample_group == "control", ]$user_id),     0), sum(user_survival[sample_group == "invited", ]$revisions_1_to_2_months >  out of     length(user_survival[sample_group == "invited", ]$user_id))    0)) out of c(length(user_survival[sample_group == "control", ]$user_id),
X-squared = 5.4427, df = 1, p-value = 0.01965
alternative hypothesis: two.sided
95 percent confidence interval:
 -0.021175126 -0.001986645
sample estimates:
   prop 1    prop 2
0.1177461 0.1293270

In [10]:
prop.test(
    c(sum(user_survival[sample_group=="control",]$revisions_2_to_6_months > 0),
      sum(user_survival[sample_group=="invited",]$revisions_2_to_6_months > 0)),
    c(length(user_survival[sample_group=="control",]$user_id),
      length(user_survival[sample_group=="invited",]$user_id)),
)

	2-sample test for equality of proportions with continuity correction

data:  c(sum(user_survival[sample_group == "control", ]$revisions_2_to_6_months >  out of c(length(user_survival[sample_group == "control", ]$user_id),     0), sum(user_survival[sample_group == "invited", ]$revisions_2_to_6_months >  out of     length(user_survival[sample_group == "invited", ]$user_id))    0)) out of c(length(user_survival[sample_group == "control", ]$user_id),
X-squared = 16.8916, df = 1, p-value = 3.958e-05
alternative hypothesis: two.sided
95 percent confidence interval:
 -0.0304175 -0.0110589
sample estimates:
   prop 1    prop 2
0.1175930 0.1383312

In [12]:
user_survival$surviving_3_to_4_weeks = user_survival$revisions_3_to_4_weeks >= 1
user_survival$surviving_1_to_2_months = user_survival$revisions_1_to_2_months >= 1
user_survival$surviving_2_to_6_months = user_survival$revisions_2_to_6_months >= 1
head(user_survival)

    user_id invite_date sample_group revisions_3_to_4_weeks
1: 26673158  2015-11-02      control                      1
2: 26673435  2015-11-02      control                      0
3: 26673452  2015-11-02      invited                      0
4: 26673898  2015-11-02      control                      0
5: 26674207  2015-11-02      invited                      0
6: 26674336  2015-11-02      invited                      0
   revisions_1_to_2_months revisions_2_to_6_months experiment
1:                       0                       3        th3
2:                       0                       0        th3
3:                       1                       0        th3
4:                       2                       0        th3
5:                       0                       0        th3
6:                       0                       0        th3
   surviving_3_to_4_weeks surviving_1_to_2_months surviving_2_to_6_months
1:                   TRUE                   FALSE                    TRUE
2:                  FALSE                   FALSE                   FALSE
3:                  FALSE                    TRUE                   FALSE
4:                  FALSE                    TRUE                   FALSE
5:                  FALSE                   FALSE                   FALSE
6:                  FALSE                   FALSE                   FALSE

In [13]:
model = glm(surviving_3_to_4_weeks ~ sample_group + experiment, data = user_survival, family = "binomial")
summary(model)

Call:
glm(formula = surviving_3_to_4_weeks ~ sample_group + experiment,
    family = "binomial", data = user_survival)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-0.4485  -0.4377  -0.4377  -0.4186   2.2473

Coefficients:
                    Estimate Std. Error z value Pr(>|z|)
(Intercept)         -2.44162    0.05359 -45.562  < 2e-16 ***
sample_groupinvited  0.14442    0.05573   2.591  0.00956 **
experimentth3        0.05090    0.05393   0.944  0.34523
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 12944  on 21523  degrees of freedom
Residual deviance: 12937  on 21521  degrees of freedom
AIC: 12943

Number of Fisher Scoring iterations: 5

In [1]:
(14/4)

[1] 3.5